@import"https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap";

@font-face {
    font-family: 'Libre Caslon';
    src: url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
}


/* This is a single-line comment. */

.start-date[_ngcontent-ng-c4130161931], .end-date[_ngcontent-ng-c4130161931] {
    color: #232d4b !important;

}

 .ng-star-inserted {
    color: #ffffff !important;

 }

 .bt-card-header {
    color: #232d4b !important;
    font-weight: bold !important;

 }

 .bt-date-badge__day {
    color: #232d4b !important;


 }

.bt-card.description[_ngcontent-ng-c1308605751] .content p {
    font-size: 1rem !important;
    font-family: 'Libre Caslon' !important;
    
}








