@import"https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap";

@font-face {
    font-family: 'Libre Caslon';
    src: url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
}




.start-date {
    color: #4F0048 !important;

}

.end-date {
    color: #00FFF0 !important;
    
}

.mat-tab-label-active {
    color: #232d4b !important;

}

::ng-deep .bt-card.description .content p {
    color: #232d4b !important
    
}


.h1.title.ng-star-inserted {
    color: #232d4b !important;
    
}

.span.ng-star-inserted {
    color: #232d4b !important;
    
}

.title {
    color: #232d4b !important;
    
}

.bt-card-header {
    color: #232d4b !important;
    font-weight: bold !important;

 }

.bt-date-badge__day {
    color: #232d4b !important;


 }

.bt-card.description[_ngcontent-ng-c1308605751] .content p {
    font-size: 1.2rem !important;
    line-height: 1.5rem !important;
    font-family: 'Libre Caslon' !important;
    
}

.get-tickets-button:not([disabled]) {
  color: #ffffff !important;
}

.bt-date-badge__month {
  color: #ffffff !important;
}

.action-button {
  color: #ffffff !important;
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: #ffffff !important;
}

.mat-step-header .mat-step-label {
    color: #ffffff !important;
}

.mat-step-header .mat-step-label {
    color: #e57200 !important;
}

.event-name {
    font-size: 2.6rem !important;
    font-weight: 600 !important;
}

.header {
    color: #e57200 !important;
}

::selection {
	color: white;
	background: #4F0048;
}

body {
	font-family: 'Libre Caslon';
}

.checkmark {
	--successColor: #232D4B;
}

.direction-btn,
.get-ticket-button,
.register-button {
	background-color: #232D4B !important;
}

	.direction-btn:active,
	.get-ticket-button:active,
	.get-tickets-button:active,
	.register-button:active {
		background-color: #e57200 !important;
	}

	.direction-btn:hover,
	.get-ticket-button:hover,
	.get-tickets-button:hover,
	.register-button:hover {
		background-color: #00FFF0 !important;
	}

.event-description,
.event-description p,
.description, 
.description p {
	font-size: 24px !important;
	line-height: 1.5rem !important;
	max-width: 800px;
}

.event-image-wrapper:not(:has(img)) {
	background: #232D4B !important;
	background: linear-gradient(146deg, rgba(35, 45, 75, 1) 46%, rgba(235, 95, 12, 1) 100%) !important;
}
	.event-image-wrapper:not(:has(img)) .event-image-container {
		align-items: center;
		background: transparent !important;
		display: flex !important;
		height: 100% !important;
		justify-content: center;
		position: absolute;
		width: 100% !important;
	}
	.event-image-wrapper:not(:has(img)) bt-responsive-img {
		aspect-ratio: 1;
		background: transparent !important;
		content: url(https://www.virginia.edu/assets/images/favicon.ico);
		display: block !important;
		height: auto !important;
		position: relative !important;
		width: 40% !important;
	}

.event-name {
	color: #FF46A2;
	font-family: 'Libre Caslon';
	font-weight: bold !important;
	letter-spacing: normal !important;
	padding-bottom: 1rem;
}

.event-status {
	background-color: #ff0000 !important;
	color: white !important;
	line-height: 1;
}

.speaker-title {
	--lineHeightFactor: 0.6; /* Reduce default line height for speaker title */
}

.title {
	color: #FF46A2 !important;
	font-weight: bold !important;
}







